.example-container{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 7px;
    width: 40%;
    margin: 0 auto;
}
.control-group{
    margin: 7px;
}
.control-group label {
    display: block;
}

.error-msg{
    color: red;
}