/* .autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.active {
    background-color: DodgerBlue !important;
    color: #ffffff;
} */